{% extends "base.html.twig" %} 

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <div class="container">
        {# header & breadcrumb #}
        <section class="content-header">
            <div class="container-fluid mt-3">
                <div class="row mb-2">
                    <div class="col-lg-6 px-0">
                        <h3>Edit Book</h3>
                    </div>
                    <div class="col-lg-6 ps-0">
                        <ol class="breadcrumb float-lg-end">
                            <li class="breadcrumb-item"><a href="/">Books</a></li>
                            <li class="breadcrumb-item active">Edit Book</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        
        <hr/>

        <section class="content">
            <div class="container-fluid mt-4 px-0">
                <div class="row">
                    <div class="col-lg-8">
                        {# {% if form_errors(form) %} #}
                            <span class="text-danger">
                                {{ form_errors(form.title) }}
                                {{ form_errors(form.author) }}
                                {{ form_errors(form.description) }}
                                {{ form_errors(form.price) }}
                                {{ form_errors(form.imagePath) }} 
                            </span>
                        {# {% endif %} #}

                        <div class="card">
                            <div class="card-header bg-success text-white">
                                Edit Book
                            </div>

                            <div class="card-body">
                                {{ form_start(form)  }}
                                <div class="mb-3 form-group">
                                    {{ form_label(form.title) }}
                                    {{ form_widget(form.title, { 'attr': { 'class': 'form-control'  ~ (form_errors(form.title) ? ' is-invalid' : '') } }) }}
                                </div>
                                <div class="mb-3 form-group">
                                    {{ form_label(form.author) }}
                                    {{ form_widget(form.author, { 'attr': { 'class': 'form-control' ~ (form_errors(form.author) ? ' is-invalid' : '') } }) }}
                                </div>
                                <div class="mb-3 form-group">
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description, { 'attr': { 'class': 'form-control' ~ (form_errors(form.description) ? ' is-invalid' : '') } }) }}
                                </div>
                                <div class="mb-3 form-group">
                                    {{ form_label(form.price) }}
                                    {{ form_widget(form.price, { 'attr': { 'class': 'form-control' ~ (form_errors(form.price) ? ' is-invalid' : '') }  }) }}
                                </div>
                                <div class="mb-3 form-group">
                                    {{ form_label(form.imagePath) }}
                                    {{ form_widget(form.imagePath, { 'attr': { 'class': 'form-control' ~ (form_errors(form.imagePath) ? ' is-invalid' : '') } }) }}
                                </div>
                                <div class="mb-3 form-group">
                                    {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-success mt-3' } }) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header bg-success text-white">
                                Book Cover
                            </div>
                            <div class="card-body">
                                <img src="/{{ book.imagePath }}" class="img-fluid" alt="Book Cover">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}